/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  font-family: serif;
}
header{
    height: 100px;
    background: rgba(183, 179, 179, 0.592);
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;


  }
  
header ul {
    display: flex; 
    text-align: right;

  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  header h1 {
    margin-left: 20px;
  }
  .header-list{
    display: flex;
    align-items: center;
  }
  .main{
    color: rgb(247, 244, 244);
}
.cook4{
  color: rgb(252, 247, 247);
}
footer{
  color: white;
  height: 30px;
  background-color: #000;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

