.edit{
    min-height: 100vh;
}
.profile{
    min-height: 100vh;
}
.about25{
    background-image: url("background16.jpg");
    min-height: 80vh;
    width: 100%;
    background-size: cover;
}